.discount-badge {
  position: relative;
  top: 0px;
  padding: 5px;
  left: 0px;
  background-color: red;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 14px;

  text-align: center;
}
.line-through {
  text-decoration: line-through;
}
.h{
  height: 1000px;
}
.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 15px;
}

.pagination li {
  display: inline;
  margin: 0 5px;
}

.pagination li a {
  text-decoration: none;
  color: #0a0a0a;
  border: 1px solid #0a0a0a;
  padding: 5px 10px;
  border-radius: 5px;
}

.pagination li a:hover {
  background-color: #0a0a0a;
  color: white;
}

.pagination li.active a {
  background-color: #0a0a0a;
  color: white;
  border: 1px solid #0a0a0a;
}


